.ltr {
    background-color: ghostwhite;
  }

  .lst {
    border-bottom: 1px solid grey;
  }
  .nav_bg{
    background-color: rgb(96, 56, 8);
}
  .bgm{
    background-color: rgb(144, 80, 27);
  }
  .icons{
color: rgb(144, 80, 27);
   }
   .second{
    background-color: rgb(121, 81, 48);

   }